# Configure third-party service credentials in environment variables:
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: CONFIG_FILE
    value: aws

# Run rake tasks before an application deployment
#container_commands:
#  01deploy:
#    command: rake my_deployment_tasks